{% load i18n %} 



            <!-- Login form-->
            <form method="POST" action="" >
                {% csrf_token %}
                <!-- Form Group (email address)-->
                <div class="mb-3">
                    <label class="small mb-1" for="inputEmailAddress">{% trans 'Логин' %}</label>
                    <input class="form-control" id="inputEmailAddress" name="username" type="text" placeholder="Email" />
                </div>
                <!-- Form Group (password)-->
                <div class="mb-3">
                    <label class="small mb-1" for="inputPassword">{% trans 'Логин' %}</label>
                    <input name="password"  class="form-control" id="inputPassword" type="password" placeholder="Enter password" />
                </div>
                <!-- Form Group (remember password checkbox)-->
                <!-- 
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" id="rememberPasswordCheck" type="checkbox" value="" />
                        <label class="form-check-label" for="rememberPasswordCheck">Remember password</label>
                    </div>
                </div>
                -->
                <!-- Form Group (login box)-->
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <!-- 
                    <a class="small" href="auth-password-basic.html">Forgot Password?</a>
                    -->
                    <button  class="btn btn-primary">
                        {% trans 'Войти' %}
                    </button>
                   
                </div>
            </form>
     