{% extends 'main/layout.html' %}
{% load i18n %} 
{%  block content %}


<div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Город' %} {{ city }}
                </h6>
            </div>
            <div class="card-body">
                

                <a  class="btn btn-primary btn-user btn-block">
                    {% trans 'Присоединиться к группе города ' %} {{ city }}
                </a>

            </div>
        </div>

        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Места встречи земляков' %}
                </h6>
            </div>
            <div class="card-body">

                {% for cafe in cafes %}
                    <a class="card card-icon lift lift-sm mb-4" href="knowledge-base-category.html">
                        <div class="row g-0">
                            <div class="col-auto card-icon-aside bg-primary">

                            </div>
                            <div class="col">
                                <div class="card-body py-4">
                                    <h5 class="card-title text-primary mb-2">{{ cafe.name }}</h5>
                                    <p class="card-text mb-1">{{ cafe.desc }}</p>
                                    <div class="small text-muted">{{ cafe.address }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% if user.is_authenticated %}
                        {% trans 'Мои земляки в городе' %}
                    {% endif %}
                </h6>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for user in users %}
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-lg"><img class="avatar-img img-fluid" src="{{ user.get_main_photo_url }}"></div>
                            <div class="ms-3">
                                <div class="fs-4 text-dark fw-500">{{ user.publicname }}</div>
                                <div class="small text-muted">
                                    {{ user.source_city }} -> {{ user.target_city }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


</div>

{% endblock %}