{% extends 'main/layout.html' %}
{% load i18n %} 
{%  block content %}


<div class="container-fluid">
    <div class="row">

        <div class="card shadow col-xl-12">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Группа' %} {{ group }}
                </h6>
            </div>
            <div class="card-body">
                {% trans 'Участники группы' %}
            </div>
        </div>

        <div class="card shadow col-xl-12">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Место встречи земляков' %}
                </h6>
            </div>
            <div class="card-body">
                
            </div>
        </div>

        <a  class="btn btn-primary btn-user btn-block">
            {% trans 'Присоединиться к группе' %}
        </a>
    </div>
</div>

{% endblock %}