{% extends 'main/layout.html' %}
{% load i18n %} 
{%  block content %}



    <div class="card shadow mb-6">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {% trans 'Вход' %} 
            </h6>
        </div>
        <div class="card-body">
            
        </div>
    </div>

    <div class="card shadow mb-6">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {% trans 'Регистрация' %} 
            </h6>
        </div>
        <div class="card-body">
            
        </div>
    </div>


{% endblock %}