{% extends 'main/layout.html' %}
{% load i18n %} 
{%  block content %}



    <div class="row">

        <div class="card shadow col-xl-12 col-md-12">
           
                {% include 'forms/signin.html' %}
        
        </div>

       
    </div>


{% endblock %}

{%  block js %}
<script>
    $("#target_country").change(function () {
        var url = `{{ api_url }}account/get_city`; 
        $.ajax({
            url: url,                    
            data: {
              'country_alias': $(this).val()
            },
            success: function (data) { 
                console.log(data);
                //temp_intakes = data.data;
                $('#target_city').empty();
                $.each(data.payload, function(index, item){
                    $('select[id=target_city]').append(
                        $('<option></option>').val(item.alias).html(item.name)
                    );
                });
                
            }
        });
    });

    $("#source_country").change(function () {
        var url = `{{ api_url }}account/get_city`; 
        $.ajax({
            url: url,                    
            data: {
              'country_alias': $(this).val()
            },
            success: function (data) { 
                console.log(data);
                //temp_intakes = data.data;
                $('#source_city').empty();
                $.each(data.payload, function(index, item){
                    $('select[id=source_city]').append(
                        $('<option></option>').val(item.alias).html(item.name)
                    );
                });
                
            }
        });
    });
</script>
{% endblock %}