{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="top-logo">
                        <a href="/"> WEBMONSTR  </a>
                    </div>
                    {% if not user.is_authenticated %}
                    <a href="#" class="btn btn-primary mr-3">
                        {% trans 'Вход' %}
                    </a>
                    <a href="#" class="btn btn-primary mr-3">
                        {% trans 'Регистрация' %}
                    </a>
                    {% endif %}

                    <div>
                        {% if role == 'student' %}
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                            {% trans 'На счету' %}:
                            {{ user.student.account }} грн.</span>
                        {% endif %}
                    </div>
                    <!-- 
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    Topbar Search -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- Nav Item 
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                           
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">Here will be new labs soon</span>
                                    </div>
                                </a>
                               
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        -->
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">

                            {% if not user.is_authenticated %}
                            <a class="nav-link" href="#" >
                               <i class="fas fa-sign-in-alt fa-lg fa-fw mr-2 text-gray-400"></i>
                            </a>
                          
                                                           
                            {% endif %}
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>
                               
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">

                            {% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                {% if role == 'student' %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    {% trans 'На счету' %}:
                                    {{ user.student.account }} грн.</span>
                                {% endif %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                <img class="img-profile rounded-circle"
                                {% if role == 'student' %}
                                    src="{{ user.student.get_image_url }}"
                                {% elif role == 'mentor'%}
                                   src="{{ user.mentor.get_image_url }}"
                                {% endif %}
                                ">
                            </a>
                            

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" 
                                {% if role == 'student' %}
                                    href="#"
                                {% elif role == 'mentor'%}
                                    href="#"
                                {% endif %}
                                >
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                              
                                <a class="dropdown-item" 

                                {% if role == 'student' %}
                                    href="#"
                                {% elif role == 'mentor'%}
                                    href="#"
                                {% endif %}
                                >
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cabinet
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>

                            {% else %}
                                <a 
                                href="#"
                                id="regDropdown" 
                                role="button"
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false"
                                class="nav-link"> 
                                <i class="fas fa-address-card fa-lg fa-fw mr-2 text-gray-400"></i>
                                 </a>

                               <!-- 
                                 <a class="nav-link" href="/en" class="lang-link">
                                 <img src="/static/img/en.svg" />
                                 </a>
                                 <a class="nav-link" href="/uk" class="lang-link">
                                 <img src="/static/img/ua.svg" />
                                 </a>
                            --> 

                            
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="regDropdown">
                                <h6 class="dropdown-header">
                                    Registration
                                </h6>
                                
                                  <a 
                                  href="#"
                                  class="dropdown-item">
                                    Student registration
                                  </a>
                                  <a 
                                  href="#"
                                  class="dropdown-item">
                                    Mentor registration
                                  </a>
                                
                                
                            </div>

                            {% endif %}

                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <a 
                            class="nav-link dropdown-toggle" 
                            href="#" id="langDropdown" 
                            role="button" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                            <img class="img-profile rounded-circle" src="/static/img/{{LANGUAGE_CODE}}.svg" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" 
                            aria-labelledby="langDropdown">
                            {% if LANGUAGE_CODE == 'ru' %}
                                <a class="dropdown-item" href="/en">
                                    <img class="img-lang rounded-circle" src="/static/img/en.svg" />
                                    {% trans 'Английский' %}
                                </a>
                                <a class="dropdown-item" href="/uk">
                                    <img class="img-lang rounded-circle" src="/static/img/uk.svg" />
                                    {% trans 'Украинский' %}
                                </a>
                            {% endif %}
                            {% if LANGUAGE_CODE == 'uk' %}
                                <a class="dropdown-item" href="/en">
                                    <img class="img-lang rounded-circle" src="/static/img/en.svg" />
                                    {% trans 'Английский' %}
                                </a>
                                <a class="dropdown-item" href="/ru">
                                    <img class="img-lang rounded-circle" src="/static/img/ru.svg" />
                                    {% trans 'Русский' %}
                                </a>
                            {% endif %}
                            {% if LANGUAGE_CODE == 'en' %}
                                <a class="dropdown-item" href="/uk">
                                    <img class="img-lang rounded-circle" src="/static/img/uk.svg" />
                                    {% trans 'Украинский' %}
                                </a>
                                <a class="dropdown-item" href="/ru">
                                    <img class="img-lang rounded-circle" src="/static/img/ru.svg" />
                                    {% trans 'Русский' %}
                                </a>
                            {% endif %}
                            </div>

                        </li>

                    </ul>

                </nav>