{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">

    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/">
        ZEMLYAK.IN.UA  
    </a>
   
    <form class="form-inline me-auto d-none d-lg-block me-3">
        <div class="input-group input-group-joined input-group-solid">
            <input class="form-control pe-0" type="search" placeholder="Search" aria-label="Search" />
            <div class="input-group-text"><i data-feather="search"></i></div>
        </div>
    </form>

    
    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown no-caret dropdown-user">
            {% if user.is_authenticated %}
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle"
                src="{{ user.userprofile.get_main_photo_url }}">
            </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                {% trans 'Мой профиль' %}
            </a>

            <a class="dropdown-item" href="{% url 'mygroup' %}">
                <i class="fas fa-coffee fa-sm fa-fw mr-2 text-gray-400"></i>
                {% trans 'Моя группа' %}
            </a>    

            <a class="dropdown-item" href="{% url 'mycontacts' %}">
                <i class="fas fa-comments fa-sm fa-fw mr-2 text-gray-400"></i>
                {% trans 'Мои контакты' %}
            </a> 

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" 
            href="{% url 'logout' %}" 
            data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt 
                fa-sm fa-fw mr-2"></i>
                {% trans 'Выход' %}
            </a>
        </div>

            

            

            {% else %}
            <a href="{% url 'signin' %}" class="nav-link top-link" >
                {% trans 'Вход' %}
            </a>
            
            {% endif %}
        </li>

        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="/static/img/{{LANGUAGE_CODE}}.svg" />
            </a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
               
            {% if LANGUAGE_CODE == 'ru' %}
                <a class="dropdown-item" href="/en">
                    <img class="img-lang rounded-circle" src="/static/img/en.svg" />
                    {% trans 'Английский' %}
                </a>
                <a class="dropdown-item" href="/uk">
                    <img class="img-lang rounded-circle" src="/static/img/uk.svg" />
                    {% trans 'Украинский' %}
                </a>
            {% endif %}
            {% if LANGUAGE_CODE == 'uk' %}
                <a class="dropdown-item" href="/en">
                    <img class="img-lang rounded-circle" src="/static/img/en.svg" />
                    {% trans 'Английский' %}
                </a>
                <a class="dropdown-item" href="/ru">
                    <img class="img-lang rounded-circle" src="/static/img/ru.svg" />
                    {% trans 'Русский' %}
                </a>
            {% endif %}
            {% if LANGUAGE_CODE == 'en' %}
                <a class="dropdown-item" href="/uk">
                    <img class="img-lang rounded-circle" src="/static/img/uk.svg" />
                    {% trans 'Украинский' %}
                </a>
                <a class="dropdown-item" href="/ru">
                    <img class="img-lang rounded-circle" src="/static/img/ru.svg" />
                    {% trans 'Русский' %}
                </a>
            {% endif %}

            </div>
        </li>

    </ul>

</nav>