{% extends 'main/layout.html' %}
{% load i18n %} 
{%  block content %}

<header class="card card-waves">
    <div class="card-body px-5 pt-5 pb-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <h1 class="text-primary">
                    {% trans 'Мы поможем вам найти друзей в это трудное время!' %}
                </h1>
                <p class="lead mb-4">{{ about|safe }}</p>
                
                <div class="shadow rounded">
                    <div class="input-group input-group-joined input-group-joined-xl border-0">


                        <select class="js-data-example-ajax form-control input-group input-group-joined input-group-joined-xl border-0">
                            <option value="ukraine" selected="selected">
                                {% trans 'Поиск города' %}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"><img class="img-fluid" src="/static/img/cafe_1.jpg"></div>
        </div>
       <br />
       
    </div>
</header>



<h4 class="mb-0 mt-5">
    {% trans 'Поиск' %} {{ current_country }} 
    {% if current_city %}
        {{ current_city }}
    {% endif %}
</h4>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="row">

            
            {% for city in cities %}
            <div class="col-xl-2 col-md-4 mb-3">
                <a href="{% url 'city-detail' city=city.alias %}">
                    {{ city }} 
                </a>
                <p>{{ city.region }} </p>
            </div>
            {% endfor %}
            


            <!-- 
            <div class="col-1">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Страна' %} 
                </h6>
                <ul>
                    {% for country in countries %}
                        <li><a href="{% url 'filter-country' country=country.alias %}">{{ country }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            -->
            <!-- 
            <div class="col-1">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Город' %} 
                    <ul>
                        {% for city in cities %}
                            <li><a href="{% url 'filter-country-city' country=city.country.alias city=city.alias%}">{{ city }} </a></li>
                        {% endfor %}
                    </ul>
                </h6>
            </div>
            -->

            <!-- 
            <div class="col-12">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Земляки' %} 
                </h6>

                <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                    
                    <tbody>
                        {% for user in users %}
                        <tr class="odd">
                            <td style="width:100px">
                                <a href="#">{{ user.get_main_photo }}</a>

                            </td>
                            <td>
                                <p>{{ user }}</p>
                                <p>{% trans 'от куда' %}: {{ user.source_country }} {{ user.source_city }}</p>
                                <p>{% trans 'куда' %}: {{ user.target_country }} {{ user.target_city }}</p>
                            </td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            -->

            <!-- 
            <div class="col-5">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Группы земляков' %} 
                </h6>
                <ul>
                    {% for citygroup in citygroups %}
                        <li><a href="{% url 'city-group-detail' target_city=citygroup.target.alias source_city=citygroup.source.alias %}">{{ citygroup }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            -->
        </div>
    </div>
</div>

<div class="container-xl px-4">
    <h4 class="mb-0 mt-5">{% trans 'Новые пользователи' %}</h4>
    <hr class="mt-2 mb-4">
    <div class="row">
        {% for user in users %}
        <div class="col-lg-4">
            <div class="d-flex align-items-center">
                <div class="avatar avatar-lg"><img class="avatar-img img-fluid" src="{{ user.get_main_photo_url }}"></div>
                <div class="ms-3">
                    <div class="fs-4 text-dark fw-500">{{ user.publicname }}</div>
                    <div class="small text-muted">
                        {{ user.source_city }} -> {{ user.target_city }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script>

$('.js-data-example-ajax').select2({
    ajax: {
      url: '/v1/search/city',
      dataType: 'json'
    }
      // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
    
  });
</script>

{% endblock %}