{% extends 'main/layout.html' %}
{% load i18n %} 
{%  block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            {% trans 'О проекте' %} 
        </h6>
    </div>
    <div class="card-body">
        {{ about|safe }}
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            {% trans 'Поиск' %} {{ current_country }} 
            {% if current_city %}
                {{ current_city }}
            {% endif %}
        </h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Страна' %} 
                </h6>
                <ul>
                    {% for country in countries %}
                        <li><a href="{% url 'filter-country' country=country.alias %}">{{ country }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-2">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Город' %} 
                    <ul>
                        {% for city in cities %}
                            <li><a href="{% url 'filter-country-city' country=city.country.alias city=city.alias%}">{{ city }} </a></li>
                        {% endfor %}
                    </ul>
                </h6>
            </div>
            <div class="col-4">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Земляки' %} 
                </h6>
                <ul>
                    {% for user in users %}
                        <li><a href="#">{{ user }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4">
                <h6 class="m-0 font-weight-bold text-primary">
                    {% trans 'Группы земляков' %} 
                </h6>
                <ul>
                    {% for citygroup in citygroups %}
                        <li><a href="#">{{ citygroup }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}