.reg-button {
    height: 40px !important;
    margin-top: 10px !important;
    color: white !important;
}

pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

p {
    color: black;
    margin-bottom: 0px;
}

h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid silver;
}

h3 {
    font-size: 18px;
    color: black;
    font-weight: bold;
}



.color-red {
    color:  red;
}

.color-green {
    color:  green;
}

.color-white:hover {
    color: white;
}

.color-white {
    color: white;
}

.text-bold {
 font-weight: bold;
}

.link-small {
    font-size: 12px;
    font-weight: bold;
}


.lang-link img {
    width: 30px;
    height: 30px;
}

.lang-block {
    text-align: center;
}

.pay-block {
    display: flex;
}

.pay-block a {
    margin: 10px;
}

.pay-course-block {
   
}

.div-marging-5 {
    margin: 5px;
}

.top-logo {
    color: #2F56C8;
    font-weight: bold;
    padding-right: 10px;
}

.img-lang {
    width: 50px;
}